body{

	background: #f1f1f1;
    color: #444;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 13px;
    line-height: 1.4em;
    min-width: 600px;
}
label{
	font-weight: normal;
}
.meta-wrapper{
	margin: 2em 0;
}
.meta-wrapper iframe{
	width: 100%;
	height: 25em;
}
.meta-wrapper label{
	width: 100%;
	text-align: left;
	display: block;
	margin: 0;
}
.meta-wrapper input[type=radio]{
	    margin: 4px 0 0;
	    width: auto;
	    height: 1em;
    	line-height: normal;
}
.meta-wrapper select{
	width: 100%;
	height: 3.2em;
	display: block;
	font-size: 1.2em;
}
.meta-wrapper input{
	width: 100%;
	padding-left: .5em;
	display: block;
	height: 3.2em;
	margin: 0;
	font-size: 1.2em;
}
.meta-wrapper textarea{
	width: 100%;
	height: 25em;
}